/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 :root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainYellow: #ffa400;
  --mainDark: #232528;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.text-white{
  color: var(--mainWhite);
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  
}

.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header !important;
  background-color: #028686!important;
  color: #2a2a72 !important;
  display: flex !important;
  font-size: 2rem !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: space-between !important;
  padding: 0.5rem !important;
}

.headerL{
  grid-area: header !important;
  background-color: #009ffd  !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  justify-content: space-between !important;
  font-size: 1.3rem !important;
  display: flex !important;
  margin-right: 0;
  margin-left: 0;
}

.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links {
  color: lavender  !important;
  font-weight: bold;
  margin-right: 5rem;
  text-decoration: none !important;
  padding: 1rem !important;
}
.header-links:hover {
  color: #ffd9b3 !important;
}

.headerl-links {
  color: #f3f3f3 !important;
  font-weight: bold;
  text-decoration: none !important;
  padding: 1rem !important;
}

.headerl-links:hover {
  color: #ff8000 ;
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #009ffd;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

.Button{
  width: 10rem;
  color: #2a2a72 !important;
  font-size: 1.5rem !important;
  background-color: #f3f3f3 !important;
  border: 2px solid #2a2a72 !important;
  border-radius: 10px !important;
}

.Button:hover{
  background-color: #4CAF50; /* Green */
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #ffffbd;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Reviews */
ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
  font-size: small;
 
}
.details-action {
  flex: 2 2 20rem;
  font-size: medium;
  
}

.button-wishlist{
  background-color: #f0c040;
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  border: 0.01rem solid ;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
  
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.back {
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  text-decoration: underline;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  margin-right: 10rem;
  padding: 1rem;
  background-color: 	#e0f3f9;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button-primary {
  background-color: #f0c040;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: normal;
  border: 0.01rem solid ;
}
.button-secondary {
  background-color: #f0f0f0;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: normal;
  border: 0.01rem solid ;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 2 2 30rem;
  margin-top: 3rem;
  background-color: #e0f3f9;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  height: 15rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  
  margin-left: 10%;
  height: auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  
  padding: 2rem;
  
  list-style-type: none;
  margin-right: 18rem;
}
.form-c{
  border-style: dashed;
  border-width: 0.1rem;
}

/* .formStyle{
  display: flex;
  height: 100%;
  display: flex;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;

} */
.form-container li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem !important;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.labels{
  font-size: 1.3rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
 
}
.dropdown-content {
  /* position: absolute;
  display: list-item;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: none;
  margin: 0;
  margin-top: 0.4rem; */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
  margin-left: auto;
  margin-right: 10rem;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: none;
}

/*about us pae*/
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}