 html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  height: 6rem ;
  background-color: #028686;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a {
  color: lavender;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover {
  color:#ffdb4d;
}

.Links{
  Font-size: 2rem !important; 
  color: black !important;
  text-decoration: none !important;
  padding: 1rem !important;
  margin-left: 0.5rem !important;
  margin-top: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Links:hover{
  color: #ffffbd !important; 
}

.BBeta{
  margin-left: auto!important;
  margin-top: 0.5rem;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  color:#ffffbd;
  background-color:#028686;
  height: 5rem;
  padding: 0.2rem;
}
.Logo{
  height: 5rem !important;
  width: 15rem;
  margin-top: 0%;
  margin-left: 2rem;
  position: inline;
}

.about{
  font-family: '"Permanent Marker", cursive';
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 3rem;

}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #028686!important;
  color: Black !important;
    height: 3rem ;
    justify-content: center;
  align-items: center;
  
}

.line {
  border: 1px solid #40e0d0;
}


a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating {
  margin-bottom: 1rem;
}
/* Reviews */

.customer-review.li{
width: 50rem;
}

.form-reviw{
width: 40rem !important;
}

ul.review {
  list-style-type: none;
  padding: 0;
}
.review li {
  margin: 1rem;
  margin-bottom: 2rem;
}
.review li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

.brand  {
  font-size: 4rem;
  color: black;
  cursor: pointer;
  
}

.brand-button {
  font-size: 3rem;
  margin-top: 1rem;
  padding: 0.3rem;
  border-style: double;
  border-width: 0.3rem;
  border-color: white;
  background-color: #028686;
  color: lavender;
  cursor: pointer;
  width: 5rem;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background: linear-gradient(to bottom right, #009999 0%, #ccffcc 100%);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 30%;
  border: 0.1rem blanchedalmond;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
  
}
.details-action {
  flex: 2 2 20rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
  font-size: medium;

}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
  font-size: medium;
}
.back-to-result {
  padding: 1rem;
}
.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center {
  text-align: center;
}
/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}


.cart-action {
  flex: 2 2 30rem;
  margin-top: 3rem;
  background-color: #e0f3f9;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  height: 15rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  margin-left: 50rem;
}

.cart-points {
  flex: 1 1;
  font-size: 2.5rem;
  margin-left: 50rem;
}

/* forms */

.form {
  display: flex;
  height: 100%;
}
.form-container {
  display: flex;
  width: 32rem;
  padding: 2rem;
  list-style-type: none;
}

.form-c{
  border-style: dashed;
  border-width: 0.1rem;
}


.create-product{
  text-align: center !important;
  text-decoration: dashed !important;
  margin-bottom: 0%;
}

.create-product-button{
  width: 50rem;
 
}

.button-alin{
  align-items: center !important;
}
/* .formStyle{
  display: flex;
  height: 100%;
  display: flex;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;

} */
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60rem;
}
.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
/* /* .dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
/*   position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: white;
  margin: 0;
  margin-top: 0.4rem; */
 /*  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
li.dropdown {
  display: inline-block;
}
.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.dropdown ul li {
  float: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ffffbd ;
} 
 */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color:none;
}
 
.colStyle1{
margin-left: 20rem;
position: relative;

}